<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Features</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;background-image: url('img/carousel-1.jpg')">
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
    <a href="/index" class="navbar-brand d-flex d-lg-none">
        <h1 class="m-0 display-4 text-secondary"><span class="text-white">Farm</span>2Global</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a href="/index" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/service" class="nav-item nav-link">Services</a>
            <a href="/feature" class="nav-item nav-link active">Features</a>
    <a href="/testimonial" class="nav-item nav-link">Testimonial</a>
    <a href="/contact" class="nav-item nav-link">Contact Us</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa fa-list display-10 text-secondary" style="padding-right: 5px;"></i> Categories
</a>
        <div class="dropdown-menu m-0" style="width: 250px;">
            <ul style="list-style-type: square;">
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold; color: rgb(74, 74, 74);">Maize (Corn)</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Oilseeds (Sunflower)</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Peanuts (Groundnuts)</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Soybeans</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Rice</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Wheat</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Cotton</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Coffee</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Tea</a>
                </li>
                <li>
                    <a href="/" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Fruits</a>
                </li>
            </ul>
        </div>
    </div> 
        </div>
    </div>
</nav>
<!-- Navbar End -->

    <!-- Features Start -->
    <div class="container-fluid feature pb-lg-0 border-secondary mt-0">
        <div class="container py-3 pb-lg-0">
            <div class="mx-auto text-center mb-0 pb-0" style="max-width: 500px;">
               
            </div>
            <div class="row g-5 py-2">
                <div class="col-lg-3">
                    <div class="mb-5">
                        <div class="bg-primary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-seedling fs-4 text-white"></i>
                        </div>
                        <h6 class="text-warning"><u>100% Trusted Farmers</u></h6>
                        <p class="mb-0 text-white">Our local farmers are carefully chosen and onsite visits have been conducted for the sake of your business safety</p>
                    </div>
                    <div class="">
                        <div class="bg-primary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award fs-4 text-white"></i>
                        </div>
                        <h6 class="text-warning"><u>Awards and Recognitions</u></h6>
                        <p class="mb-0 text-white">
				<ul>
					<li class="text-white">
						Farm2Global is one of the winners of <b>Digital ID For Africa</b> 2024 competition.
					</li>
					<li class="text-white pt-4">
						Recognized and Approved by <b>MIMNAGRI</b>, <b>RCA</b> and <b>RDB</b>
					</li>
				</ul>
			</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-block bg-white h-100 text-center p-3 pb-lg-0 border-2" style="border-radius: 20px; border-style: dashed;">
                        <img class="img-fluid" src="img/featuressimg.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mb-5">
                        <div class="bg-primary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-tractor fs-4 text-white"></i>
                        </div>
                        <h6 class="text-warning"><u>Modern Farming</u></h6>
                        <p class="mb-0 text-white">
				Our selected local farmers are bulk producers leveraging modern farming.They not only practice agriculture on a large scale, but also use organic fertilizers for our better health.
			</p>
                    </div>
                    <div class="">
                        <div class="bg-primary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt fs-4 text-white"></i>
                        </div>
                        <h6 class="text-warning"><u>24/7 Support</u></h6>
                        <p class="pb-5 text-white">For any inquiry, our team is available to support you at anytime</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features end -->
    
    <div class="container-fluid bg-dark text-white py-4 mt-3">
        <div class="container text-center">
            <p class="mb-0">&copy; <a class="text-secondary" href="#">farmz2global.com</a>. All Rights Reserved</p>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>