<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Our Partners</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;background-image: url('img/carousel-1.jpg')">
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
    <a href="/index" class="navbar-brand d-flex d-lg-none">
        <h1 class="m-0 display-4 text-secondary"><span class="text-white">Farm</span>2Global</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a href="/index" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/service" class="nav-item nav-link">Services</a>
            <!-- <a href="/feature" class="nav-item nav-link">Features</a> -->
            <a href="/partners" class="nav-item nav-link active">Partners</a>
    <a href="/contact" class="nav-item nav-link">Contact Us</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
<i class="fa fa-list display-10 text-secondary" style="padding-right: 5px;"></i>Crops Categories
</a>
        <div class="dropdown-menu m-0" style="width: 250px;">
            <ul style="list-style-type: square;">
                <li>
                    <a href="/maize" class="dropdown-item" style="font-weight: bold; color: rgb(74, 74, 74);">Maize (Corn)</a>
                </li>
                <li>
                    <a href="/sunflower" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Oilseeds (Sunflower)</a>
                </li>
                <li>
                    <a href="/groundnuts" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Peanuts (Groundnuts)</a>
                </li>
                <li>
                    <a href="/soybean" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Soybeans</a>
                </li>
                <li>
                    <a href="/rice" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Rice</a>
                </li>
                <li>
                    <a href="/wheat" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Wheat</a>
                </li>
                <li>
                    <a href="/cotton" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Cotton</a>
                </li>
                <li>
                    <a href="/coffee" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Coffee</a>
                </li>
                <li>
                    <a href="/tea" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Tea</a>
                </li>
                <li>
                    <a href="/fruits" class="dropdown-item" style="font-weight: bold;color: rgb(74, 74, 74);">Fruits</a>
                </li>
            </ul>
        </div>
    </div> 
        </div>
    </div>
</nav>
<!-- Navbar End -->

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="mb-3">
                        <h4 class="display-6 text-warning" style="color: rgb(0, 0, 0)">Our Partners</h4>
                    </div>
                    <hr />
                    <p class="mb-4 text-white">Connecting East African local farmers with potential Buyers.</p>
                    <a href="/contact" class="btn btn-secondary py-md-3 px-md-5">Contact Us</a>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="partners-item text-center">
                        <img src="./img/partners/azam.png" style="width: 80%;height: 50%;"/>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="partners-item text-center">
                        <img src="./img/partners/ADMA BISCUITS.jpg" style="width: 80%;height: 50%;"/>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="partners-item text-center">
                        <img src="./img/partners/African-improved-food.png" style="width: 80%;height: 50%;"/>
                    </div>
                </div>
            </div>

            <div class="row g-5 my-5">
                <div class="col-lg-3 col-md-6">
                    <div class="partners-item text-center">
                        <!-- <img src="./img/partners/baobabsuperfoods.JPG" style="width: 85%;height: 100%;"/> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="partners-item text-center">
                        <img src="./img/partners/javafoods.jpg" style="width: 80%;height: 50%;"/>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="partners-item text-center">
                         <img src="./img/partners/MANOLSWA FOODS.jpg" style="width: 80%;height: 50%;"/> 
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="partners-item text-center">
                        <img src="./img/partners/minimex.png" style="width: 80%;height: 50%;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    
<div class="container-fluid bg-dark text-white py-4">
    <div class="container text-center">
        <p class="mb-0">&copy; <a class="text-secondary" href="#">farmz2global.com</a>. All Rights Reserved</p>
    </div>
</div>
<!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>